<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854324934344-eib6cg87vtaigvbijgfcmfuc1ce2u07u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854324934344-eib6cg87vtaigvbijgfcmfuc1ce2u07u</string>
	<key>API_KEY</key>
	<string>AIzaSyBxS_Y5GTxVoEAYtaWxPT9Y_IXMt2eQZGk</string>
	<key>GCM_SENDER_ID</key>
	<string>854324934344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zx.Plan-It-Earth</string>
	<key>PROJECT_ID</key>
	<string>plan-it-earth-f5b59</string>
	<key>STORAGE_BUCKET</key>
	<string>plan-it-earth-f5b59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854324934344:ios:8ff4e29fc8400320d2d7fd</string>
	<key>DATABASE_URL</key>
	<string>https://plan-it-earth-f5b59.firebaseio.com</string>
</dict>
</plist>